.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.text {
    color: #4b5563;
    line-height: 1.9;
}

.meta {
    font-size: 14px;
    color: #6b7280;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}