:root {
  --color-white: #ffffff;
  --color-black: #171717;
  --color-text: #374151;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);

  --color-pink-darker: #450920; 
  --color-primary: #a53860;
  --color-pink: #da627d;
  --color-pink-light: #ffa5ab;
  --color-pink-lighter: #f7ede2;
}

body {
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}